NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=
DATABASE_URL=

NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

MAILPIT_SMTP_HOST=localhost
MAILPIT_SMTP_PORT=1025

NEXT_PUBLIC_SITE_URL=http://localhost:3000

INVITATION_ISSUING_ENABLED=true
INVITATION_REDEMPTION_ENABLED=true
INVITATION_EXPIRY_DAYS=7
