:root {
  --primary-glow: radial-gradient(rgba(255, 1, 200, 0.4), rgba(1, 65, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0),
    rgba(1, 65, 255, 0),
    rgba(255, 1, 1, 0.3)
  );
}

body {
  background: #1b1b1b !important;
}

*::-webkit-scrollbar {
  width: 0.15rem;
}

*::-webkit-scrollbar-thumb {
  background: #b03c37;
}

*::-webkit-scrollbar-track {
  background: gray;
}

nav {
  z-index: 3;
  // backdrop-filter: blur(5px);
}

a {
  cursor: pointer;
}

p {
  font-family: "Roboto", sans-serif;
}

hr {
  background: radial-gradient(
    ellipse at center,
    hsla(0, 0%, 100%, 0.2) 0,
    hsla(0, 0%, 100%, 0) 75%
  );
}

dd {
  font-family: "Roboto", sans-serif;
}

dt {
  position: absolute;
  margin-left: -75px;
  @media only screen and (max-width: 600px) {
    position: inherit;
    margin-left: 0;
  }
}

img {
  filter: grayscale(100%);
}

dt img {
  filter: grayscale(0);
}

figure img {
  width: 100%;
}

blockquote {
  color: #b93c37;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 700;
  position: relative;
  margin: 1em 0;
  line-height: 1.1;
}

blockquote::before {
  content: "“";
  font-size: 3em;
  line-height: 0;
  left: -0.2rem;
  top: 5rem;
  position: absolute;
  text-align: center;
}

.glow-effect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.glow-effect::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.glow-effect::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1111;
}

.glow-effect::before,
.glow-effect::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
